.header-container {
  background-color: #262626;
  align-items: center;
  padding: 30px 135px;
}
.header-container .navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.header-container .navbar .menu-left {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 60px;
}
.header-container .navbar .menu-left a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
  transition: 0.5s;
}
.header-container .navbar .menu-left a:hover {
  color: #FAC660;
}
.header-container .navbar img {
  cursor: pointer;
}
.header-container .navbar .menu-right {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 60px;
}
.header-container .navbar .menu-right a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
  transition: 0.5s;
}
.header-container .navbar .menu-right a:hover {
  color: #FAC660;
}

.hero {
  width: 100%;
  height: 1300px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #262626;
  text-align: center;
}
.hero .hero-heading {
  margin-top: 100px;
  font-family: "Italiana";
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 130px;
  color: #FFFFFF;
}
.hero .hero-heading span {
  color: #FAC660;
}
.hero .buttons {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.hero .buttons .coffener {
  padding: 10px 30px;
  background-color: #FAC660;
  border-radius: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
.hero .buttons .coffener:hover {
  color: #FAC660;
  background-color: #262626;
  border: 2px solid #FAC660;
}
.hero .buttons .Twitter {
  border-radius: 30px;
  padding: 10px 30px;
  border: 2px solid #FAC660;
  background-color: #262626;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.5s;
}
.hero .buttons .Twitter:hover {
  color: #262626;
  background-color: #FAC660;
}
.hero .video {
  display: flex;
  margin: 0 auto;
  margin-top: 160px;
  width: 1170px;
  height: 600px;
  background-image: url(/assets/Images/6F7AD8DA-600F-4D5E-9178-4F290958F875_1024x1024.webp);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 35px;
}
.hero .video .playbutton {
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .video .playbutton img {
  width: 88px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 1200px;
  margin: 0 auto;
}
.about .about-heading {
  margin-top: 60px;
}
.about .about-heading h2 {
  font-family: "Italiana";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  color: #262626;
}
.about .about-heading .description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.about .about-heading .description p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 40px;
  color: #202020;
}
.about .about-heading .description button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #ffffff;
  text-decoration: underline;
  cursor: pointer;
}
.about .points {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
}
.about .points .frame1 p {
  padding: 60px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
}
.about .points .frame1 h5 {
  font-family: "Italiana";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
}/*# sourceMappingURL=styles.css.map */