
.header-container {
    
    background-color: #262626;
    align-items: center;
    padding: 30px 135px;
    
    .navbar {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        align-items:center;
        

        .menu-left {
            align-items: center;
            display: flex;
            flex-direction: row;
            gap: 60px;

            a {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 18px;
                text-decoration: none;
                color: #ffffff;
                transition: 0.5s;

                &:hover {
                    color: #FAC660;
                }
            }
        }

        img {
            cursor: pointer;
        }


        .menu-right {
            align-items: center;
            display: flex;
            flex-direction: row;
            gap: 60px;

            a {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 18px;
                text-decoration: none;
                color: #ffffff;
                transition: 0.5s;

                &:hover {
                    color: #FAC660;
                }
            }
        }
    }
}

.hero {
    width: 100%;
    height: 1004px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: #262626;
    text-align: center;

    .hero-heading{
        margin-top: 100px;
        font-family: 'Italiana';
        font-style: normal;
        font-weight: 400;
        font-size: 100px;
        line-height: 130px;
        color: #FFFFFF;

        span {
            color: #FAC660;
        }
    }


    .buttons {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        .coffener {
            padding: 10px 30px;
            background-color: #FAC660;
            border-radius: 30px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            border: none;
            cursor: pointer;
            transition: 0.5s;
            &:hover {
                color :#FAC660 ;
                background-color: #262626;
                border: 2px solid #FAC660;

            }
        }

        .Twitter {
            border-radius: 30px;
            padding: 10px 30px;
            border: 2px solid #FAC660;
            background-color: #262626;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: #ffffff;
            cursor: pointer;
            transition: 0.5s;

            &:hover {
                color :#262626 ;
                background-color: #FAC660;
            }
        }
    }

    .video {
        display: flex;
        width: 1170px;
        height: 600px;
        background-image: url(/assets/);

    }
}