
.header-container {
    
    background-color: #262626;
    align-items: center;
    padding: 30px 135px;
    
    .navbar {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        align-items:center;
        

        .menu-left {
            align-items: center;
            display: flex;
            flex-direction: row;
            gap: 60px;

            a {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 18px;
                text-decoration: none;
                color: #ffffff;
                transition: 0.5s;

                &:hover {
                    color: #FAC660;
                }
            }
        }


        .menu-right {
            align-items: center;
            display: flex;
            flex-direction: row;
            gap: 60px;

            a {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 18px;
                text-decoration: none;
                color: #ffffff;
                transition: 0.5s;

                &:hover {
                    color: #FAC660;
                }
            }
        }
    }
}